// height of side nav bar
.sidenav-container {
  height: 100vh;
}

// width of side nav bar
.sidenav {
  width: 125px;
  background-color: oklch(95% .02 304.04);
}


.toolbarwrap {
  mat-toolbar {
    position: sticky;
    top: 0;
    z-index: 1000;
  }

}

.sticky-logo {
  position: sticky;
  top: 0px;
  background-color: oklch(95% .02 304.04);
}

.myactive{
  border-left: 5px solid black;
}

.spacer {
  flex: 1 1 auto;
}