/* You can add global styles to this file, and also import other style files */

// html, body { height: 100%; }
// body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.ccursor-pointer{ // c- custom
    cursor: pointer;
}


.mat-drawer-inner-container {
  scrollbar-width: thin;
  scrollbar-color: #008080 transparent;
}

